footer{
    width: 100%;
    min-height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.carta {
    width: 25%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 2em;
}

.cartaRedes{
    display: flex;
    justify-content: space-around;
}

.red{
    width: 5vh;
    height: 5vh;
}
.rs{
    display: flex;
    justify-content: center;
    padding: 2%;
    border-radius: 100%;
    background-color: white;

}